@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

header {
  width: 85%;
  height: 95vh;
  /* border: 1px solid white; */
  display: flex;
  background-color: rgb(0, 0, 0);
}

header .sidebar{
  width: 230px  ;
  height: 95vh;
  /* background-color: #1E1E1E; */
  /* border: 1px solid rgb(147, 22, 22); */
}

header .sidebar .logo {
  /* border: 1px solid white; */
  width: 80%;
  
}

header .sidebar p {
  font-weight: 700;
  font-size: 28px;
  color: white;
  line-height: 42px;
}

header .sidebar .sidebar_menu img {
  width: 28px;
  height: 28px; 
}

header .sidebar .sidebar_menu .mn p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

header .hal_utama {
  width: 900px;
  height: 95vh;
  /* border: 1px solid white; */

}

header .hal_utama::-webkit-scrollbar{
  display: none;
}

header .hal_utama .cari {
  width: 900px;
  position: relative;
  /* height: 927px; */
}

header .hal_utama .form-control {
  outline: 0;
   padding: 12px 16px 12px 16px;
   padding-left: 60px;
   border: none;
  
}

header .hal_utama .form-control::placeholder {
  color: #626262;
}

header .hal_utama .cari .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #626262;
  /* font-size: 1.6em; */

}

header .hal_utama .cari .form-control:hover {
  /* color: white; */
  /* background-color: #000000; */
  border: 2px solid white;
  
}

header .hal_utama input {
  background-color: #121316;
  
}

header .hal_utama .data table tbody td img {
  color: aquamarine;
  /* -webkit-filter: grayscale(100%);  */
  /* filter: grayscale(100%); */
  
}








