@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
}

.container .d1 {
  width: 484px;

}

.container .p1 h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
}

.container .p1 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.container .p2 label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.container .p2 input {
  padding: 12px 16px 12px 16px;
  background-color: #121316;
  font-weight: 400;
}

.container .p3 button {
  padding: 12px 40px 12px 40px;
  font-weight: 700;
  font-size: 16px;
  
}

.container .d2 {
  /* padding-left: 120px; */
  text-align: center;
  /* width: 373px; */
  /* height: 360px; */
}

.container .d2 p {
  font-size: 120px;
  font-weight: 600;
  line-height: 180px;
  /* border: 1px solid white; */
  
  
    /* width: 373px;
    height: 360px; */
}



