
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(23, 21, 21); */
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
}

header {
  width: 99%;
  height: 99vh;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
  /* border: 1px solid rgb(134, 28, 28); */
  /* color: aqua; */
  /* overflow: hidden; */  
}

header .menu {
  background-color: #1A1A1A;
  width: 22%;
  height: 90%;
  color: white;
  /* position: relative; */
  /* box-shadow: 5px 0px 2px #090f1f; */
  /* border: 1px solid white;  */
  
}

header .lagu {
  /* border: 5px solid rgb(212, 186, 138); */
  width: 78%;
  background-color: #1A1A1A;
  height: 90%;
  color: white;
}

header .play {
  width: 100%;
  height: 10%;
  background-color: #61677A;
  
}


/*            Sidebar          */

header .menu h1 {
  margin: 15px 0px 0px 20px;
  font-size: 20px;
  font-weight: 700;
}

header .menu .playlist {
  margin: 40px 0px 0px 0px;
  /* border: 1px solid white; */
}

header .menu .playlist h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  transition: .3s linear;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

header .menu .playlist h4:hover {
  color: white;
  /* background-color: rgb(105, 105, 105, 1); */
}

header .menu .playlist h4 .bi {
  display: none;
}

header .menu .playlist .active { 
 color: #4c5262;
  padding: 15px 0px 0px 20px;
  font-weight: bold;
  font-style: italic ;

}



header .menu .playlist .active .bi {
  display: flex;
  margin-right: 20px;
  font-size: larger;
}

header .menu .menu_lagu {
  width: 100%;
  /* border: 1px solid white; */
  height: 400px;
  margin-top: 20px;
  overflow: auto;

}

header .menu .menu_lagu::-webkit-scrollbar{
  display: none;
}

header .menu .menu_lagu li {
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;
}

header .menu .menu_lagu li:hover{
  background-color: rgba(171, 171, 171, 0.1);
}

header .menu .menu_lagu li span {
  font-size: 13px;
  font-weight: 600;
  color: gray;
}

header .menu .menu_lagu li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}


header .menu .menu_lagu li h5 {
  margin-left: 25px;
  font-size: 11px;
  width: 147px;
  /* border: 1px solid white; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

header .menu .menu_lagu li .penjelasan {
  color: gray;
  font-size: 10px;
}

header .menu .menu_lagu li .bi {
  right: 15px;
  position: absolute;
  /* font-size: 15px; */
}


/*         bagian play bawah          */

header .play {
  display: flex;
  padding: 0px 20px;
  align-items: center;
}

header .play .nada {
  width: 30px;
  height: 30px;
   /* border: 1px solid white; */
   padding-bottom: 5px;
   display: flex;
   align-items: flex-end;
   margin-right: 10px;
}

header .play .nada .nada1 {
  width: 3px;
  height: 10px;
  background-color: #FFFFFF;
  margin-right: 3px;
  animation: unset;
  
}

header .play .nada .nada1:nth-child(2){
  height: 13px;
}

header .play .nada .nada1:nth-child(3) {
  height: 8px;

}

header .play img {
  width: 35px;
  height: 35px;
}

header .play h5 {
  width: 130px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

header .play h5 .nama {
 font-size: 11px;
 color: #2f333d;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

header .play .icon {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0px 20px 0px 100px;
  outline: none;
}

header .play .icon .bi {
  cursor: pointer;
  outline: none;
}



header .play .icon #download_music {
  font-size: 20px;
}


header .play .icon .bi:nth-child(3){

  border: 1px solid rgb(105, 105, 105, .1);
  padding: 1px 5px 0px 7px;
  border-radius: 50%;
}

header .play span {
  color: white;
  width: 32px;
  /* border: 1px solid white; */
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 0px 20px;
}



header .play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 0px 15px 0px 10px;

}

header .play .bar .bar2{
  position: absolute;
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

header .play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 0;
  top: -1.5px;
}

header .play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  left: -6px;
  top: -5px;
  box-shadow: inset 0px 0px 3px #FFFFFF;
}

header .play .bar input {
  position: absolute;
  width: 100%;
  top: -7px;
  left: 0;
  cursor: pointer;
  z-index: 99999999999;
  /* transition: ; */
  opacity: 0;
}

header .play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin-left: 50px;

}

header .play .vol .bi {
  position: absolute;
  color: white;
  font-size: 25px;
  top: -17px;
  left: -30px;
}

header .play .vol input {
  position: absolute;
  width: 100%;
  top: -5px;
  left: 0;
  cursor: pointer;
  z-index: 99999;
  opacity: 0;

}

header .play .vol .vol_bar {
  position: absolute;
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

header .play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 0;
  top: -1.5px;
  transition: 1s linear;
}


header .play .vol .dot::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  box-shadow: inset 0px 0px 3px #FFFFFF;
}



/*          halaman utama          */

header .lagu {
  scroll-behavior: smooth;
  
}

header .lagu::-webkit-scrollbar {
  display: none;
}

header .lagu nav {
  width: 90%;
  height: 10%;
  /* border: 1px solid white; */


}

header .lagu nav ul li {
 list-style: none;  
 position: relative;
 font-size: 15px;
 color: #c4c7d0;
 font-weight: 700;
 font-style: italic;
 margin-right: 25px;
 cursor: pointer;
 transition: .3s linear;

}

header .lagu nav ul li:hover {
 color: white;
 }

 
 header .lagu nav .cari {
  /* border: 1px solid white; */
  width: 400px;
  position: relative;
  /* height: 97px; */

}

header .lagu nav .form-control {
  outline: 0;
   /* padding: 12px 16px 12px 16px; */
   padding-left: 60px;
   border: none;
   font-size: 12px;
  
}

header .lagu nav .form-control::placeholder {
  color: #626262;
}

header .lagu nav .cari .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #626262;


}

header .lagu nav .cari .icon img {
  width: 20px;
  height: 20px;
}

header .lagu nav .form-control:hover {
  color: white;
  /* background-color: #000000; */
  border: 1px solid white;
  
}

header .lagu nav input {
  background-color: #121316;
}

header .lagu .content {
  width: 90%;
  height: 30%;
  /* border: 1px solid white; */

}
header .lagu .content h1 {
  font-size: 30px;
  font-weight: 700;
}

header .lagu .content p {
  font-size: 12px;
  color: #CCCCCC;
}

header .lagu .content .buttons button:hover {
  background: none;
  border: 2px solid white;
}

header .lagu .content .buttons button:nth-child(2):hover {
  color: white;
}



/*    kumpulan lagu dan artis       */

header .lagu .lagu_populer {
  width: 90%;
  height: auto;
  /* margin: auto; */
  /* box-sizing: border-box; */
  /* border: 1px solid white; */
   /* margin-top: 15px; */
}


header .lagu .lagu_populer .kupu .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
}

header .lagu .lagu_populer .kupu .bi:hover{
  color: white;
}

header .lagu .lagu_populer .kumpul_lagu {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  
  /* border: 1px solid white; */
  scroll-behavior: smooth;
  

}

header .lagu .lagu_populer .kumpul_lagu::-webkit-scrollbar{
  display: none;
}


header .lagu .lagu_populer .kumpul_lagu li {
  min-width: 115px;
  height: 146px;
  list-style-type: none;
  margin-right: 10px;   
  transition: .3s linear;
  padding: 7px 7px 0px 7px;

  /* border: 1px solid wheat; */

}

header .lagu .lagu_populer .kumpul_lagu li:hover{
  background: rgba(179, 179, 196, 0.1);
  border-radius: 5px;
  
}

header .lagu .lagu_populer .kumpul_lagu .img_play {
  width: 100px;
  height: 100px;
}

header .lagu .lagu_populer .kumpul_lagu li .img_play img {
  width: 100%;
  height: 100%;
}

header .lagu .lagu_populer .kumpul_lagu li .img_play .bi {
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;
  opacity: 0;
}

header .lagu .lagu_populer .kumpul_lagu li:hover .img_play .bi {
  opacity: 1;
}

header .lagu .lagu_populer .kumpul_lagu li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header .lagu .lagu_populer .kumpul_lagu li h5 .penjelasan {
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c5262;
}


/*       bagian artis       */

header .lagu .artis_populer {
  width: 90%;
  height: auto;
  /* border: 1px solid white ; */
}


header .lagu .artis_populer .laba .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
}

header .lagu .artis_populer .laba .bi:hover{
  color: white;
}




header .lagu .artis_populer .kumpul_artis {
  width: 100%;
  height: 150px;
  /* border: 1px solid white; */
  scroll-behavior: smooth;
}

header .lagu .artis_populer .kumpul_artis::-webkit-scrollbar{
  display: none;
}

header .lagu .artis_populer .kumpul_artis li {
  min-width: 110px;
  height: 130px;
  list-style-type: none;
  transition: .3s linear;
  padding: 5px 5px 0px 5px;

}

header .lagu .artis_populer .kumpul_artis li:hover{
  background: rgba(179, 179, 196, 0.1);
  border-radius: 5px;
  
}

header .lagu .artis_populer .kumpul_artis .img_play {
  width: 100px;
  height: 100px;
}

header .lagu .artis_populer .kumpul_artis li .img_play img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

header .lagu .artis_populer .kumpul_artis li .img_play .bi {
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;
  opacity: 0;
}

header .lagu .artis_populer .kumpul_artis li:hover .img_play .bi {
  opacity: 1;
}

header .lagu .artis_populer .kumpul_artis li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




 






